<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<style>
body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#cc0000,#ff4d4d);
font-family:Poppins;
color:white;
}

.card{
background:white;
color:black;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2)
}

button{
background:#cc0000;
color:white;
padding:12px 25px;
border:none;
border-radius:25px;
cursor:pointer
}
</style>
</head>

<body>

<div class="card">
<h2>Welcome to BloodBank</h2>

<a href="{{ google_login_url }}">
<button>Sign in with Google</button>
</a>

</div>

</body>
</html>
